body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 1;
  width: 100%;
}

header img{
  height: 50px;
}

header a{
  color: seashell;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mission{
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.mission-text{
  background-color: black;
  width: 1200px;
}

.featured{
  width: 1000px;
}

.teas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tea img{
  width: 300px;
  height: 200px;
}

.tea h3{
  margin-top: 10px;
}

.spacer{
  width: 50px;
}

.locations-container{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locations{
  display: flex;
  align-items: center;
  justify-content: center;
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  height: 230px;
  margin: 0px 20px;
  opacity: 1;
}

footer{

}

.info{
  height: 200px;
}

.copyright{
  margin-left: 20px;
  text-align: left;
}
