body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

header img{
  height: 50px;
}

header a{
  color: seashell;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mission{
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.mission-text{
  background-color: black;
  width: 1200px;
}
